/* line 18, sass/styles.scss */
body {
  /*background: #F5F6F6;*/
  background: white;
  color: #55606a;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  padding-top: 50px;
  /* Add top padding for navbar-top-fixed */
  padding-bottom: 30px;
  /* Add top padding for navbar-top-fixed */
  height: 100%;
}
/* line 30, sass/styles.scss */
body a:focus {
  outline: 0;
  border: 10px solid red;
}
/* line 34, sass/styles.scss */
body a, body a:hover {
  color: #81983c;
}
/* line 38, sass/styles.scss */
body .nav-collapse .nav > li {
  float: left;
}
/* line 43, sass/styles.scss */
body .navbar-fixed-top .navbar-inner,
body .navbar-inner {
  background-color: white;
  background-image: none;
  border-radius: 0;
  border: none;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
/* line 54, sass/styles.scss */
body .navbar-fixed-top .navbar-inner h1,
body .navbar-inner h1 {
  line-height: 0;
}
/* line 58, sass/styles.scss */
body .navbar-fixed-top .navbar-inner h1 a.brand,
body .navbar-inner h1 a.brand {
  margin-left: 0;
  margin-top: 7px;
  padding-left: 0;
  background: url("../img/osv-logo.png") 0 0 no-repeat;
  width: 266px;
  height: auto;
  display: block;
}
/* line 67, sass/styles.scss */
body .navbar-fixed-top .navbar-inner h1 a.brand .strapline,
body .navbar-inner h1 a.brand .strapline {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin-left: 26px;
  margin-left: 4px;
  line-height: 9em;
}
/* line 76, sass/styles.scss */
body .navbar-fixed-top .navbar-inner .nav,
body .navbar-inner .nav {
  display: block;
  position: relative;
  margin-right: 10px;
}
/* line 81, sass/styles.scss */
body .navbar-fixed-top .navbar-inner .nav .icon-home,
body .navbar-inner .nav .icon-home {
  display: none;
}
/* line 85, sass/styles.scss */
body .navbar-fixed-top .navbar-inner .nav a,
body .navbar-inner .nav a {
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease;
  border-bottom: 3px solid white;
  text-transform: uppercase;
}
/* line 92, sass/styles.scss */
body .navbar-fixed-top .navbar-inner .nav a:hover,
body .navbar-inner .nav a:hover {
  background-color: #FFFFFF;
}
/* line 97, sass/styles.scss */
body .navbar-fixed-top .navbar-inner .nav .active > a,
body .navbar-inner .nav .active > a {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 3px solid #81983c;
}
/* line 102, sass/styles.scss */
body .navbar-fixed-top .navbar-inner .nav .active a:hover,
body .navbar-inner .nav .active a:hover {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
/* line 111, sass/styles.scss */
body #wrap {
  margin-bottom: -53px;
  height: auto !important;
  min-height: 100%;
}
/* line 116, sass/styles.scss */
body #push, body #footer {
  height: 53px;
}
/* line 119, sass/styles.scss */
body #footer {
  position: relative;
}
/* line 122, sass/styles.scss */
body .page {
  padding: 25px 0 100px 0;
  position: relative;
  z-index: 99;
}
/* line 129, sass/styles.scss */
body .alt-page {
  background-color: #81983c;
}
/* line 133, sass/styles.scss */
body .hero-unit {
  background-color: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
/* line 140, sass/styles.scss */
body .nav-pills {
  border-bottom: 1px solid #cccccc;
}
/* line 143, sass/styles.scss */
body .nav-pills > li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 148, sass/styles.scss */
body .nav-pills > li > a {
  color: #55606a;
}
/* line 153, sass/styles.scss */
body .nav-pills > li > a.selected, body .nav-pills > li > a:hover,
body .nav-pills > li > a a:focus {
  background-color: #FFFFFF;
  color: #81983c;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
/* line 161, sass/styles.scss */
body section {
  min-height: 600px;
}
/* line 164, sass/styles.scss */
body #home {
  position: relative;
  overflow: hidden;
  /*background: url('../../templates/img/ring-home.jpg') 50% 50% no-repeat;*/
  width: 100%;
  top: -10px;
  min-height: 600px;
}
/* line 172, sass/styles.scss */
body #home img {
  width: 100%;
  height: 100%;
}
/* line 178, sass/styles.scss */
body #gallery .thumbnails {
  /*			max-height: 400px;
  			overflow-y: scroll;*/
  border: 0;
}
/* line 183, sass/styles.scss */
body #gallery .thumbnails a {
  padding: 0;
  /*	border: 0 !important;*/
  display: inline-block;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
/* line 193, sass/styles.scss */
body #gallery .thumbnails a.thumbnail:hover,
body #gallery .thumbnails a.thumbnail:focus {
  border: 1px solid #81983c !important;
  -webkit-box-shadow: 0 1px 4px rgba(80, 106, 4, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(80, 106, 4, 0.25);
  box-shadow: 0 1px 4px rgba(80, 106, 4, 0.25);
  background-color: #FFFFFF;
}
/* line 202, sass/styles.scss */
body .img-center {
  margin: 20px auto;
  display: block;
  width: 75%;
  height: 75%;
}
/* line 208, sass/styles.scss */
body .one {
  color: black;
}
/* line 211, sass/styles.scss */
body .silvered {
  color: #cccccc;
}
/* line 214, sass/styles.scss */
body .vein {
  color: #81983c;
}

/* line 220, sass/styles.scss */
.footnote {
  font-size: 0.8em;
}

/* line 223, sass/styles.scss */
.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 232, sass/styles.scss */
.modal.fade {
  -webkit-transition: opacity 0.5s linear, 0.3s ease-out;
  -moz-transition: opacity 0.5s linear, 0.3s ease-out;
  -o-transition: opacity 0.5s linear, 0.3s ease-out;
  transition: opacity 0.5s linear, 0.3s ease-out;
  top: 25%;
}

/* line 239, sass/styles.scss */
.modal {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
/* line 244, sass/styles.scss */
.modal .modal-body {
  padding: 0;
}
/* line 247, sass/styles.scss */
.modal .modal-body h4 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}
/* line 253, sass/styles.scss */
.modal .modal-footer {
  border-top: 0;
  background-color: white;
}

/* Button override */
/* line 260, sass/styles.scss */
.modal .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  padding: 8px;
  color: #55606a;
  background-color: white;
  border: 1px solid #cccccc;
  background-image: none;
}
/* line 274, sass/styles.scss */
.modal .btn-primary {
  background-image: none;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
/* line 286, sass/styles.scss */
.modal .btn-primary:hover, .modal .btn-primary:focus, .modal .btn-primary:active, .modal .btn-primary.active, .modal .btn-primary.disabled, .modal .btn-primary[disabled] {
  background-color: white;
  border: 1px solid #81983c;
  color: #55606a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  /* line 306, sass/styles.scss */
  body {
    padding-top: 100px;
  }
  /* line 309, sass/styles.scss */
  body .navbar-fixed-top {
    position: fixed;
  }
  /* line 313, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner h1 a.brand {
    margin-left: 35px;
    margin-top: 0;
  }
  /* line 317, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner .btn-navbar {
    margin-right: 30px;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #FFFFFF;
    border: 0;
    background-image: none;
  }
  /* line 329, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner .btn-navbar .icon-bar {
    margin-bottom: 4px;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    background-color: #CCCCCC;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  /* line 342, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner:hover {
    background-color: #FFFFFF;
  }
  /* line 346, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right {
    margin-left: 24px;
  }
  /* line 348, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li {
    float: left;
  }
  /* line 351, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li .active > a {
    display: inline-block;
    padding-left: 0 !important;
  }
  /* line 356, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li a {
    padding-left: 0;
    width: auto;
  }
  /* line 359, sass/styles.scss */
  body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li a:hover {
    background-color: transparent;
  }
}
@media (max-width: 480px) {
  /* line 372, sass/styles.scss */
  .page {
    /*padding-top: 0;*/
  }
  /* line 375, sass/styles.scss */
  .page .nav-collapse {
    /*overflow: visible;
    height: auto;*/
  }
  /* line 378, sass/styles.scss */
  .page .nav-collapse .nav > li {
    float: left;
  }
  /* line 382, sass/styles.scss */
  .page .nav-collapse .nav > li a:hover,
  .page .nav-collapse .nav > li a:focus {
    background-color: #FFFFFF;
  }
  /* line 387, sass/styles.scss */
  .page .active > a {
    border-bottom: none;
  }
  /* line 391, sass/styles.scss */
  .page #home img {
    /*margin-top: 20% !important;*/
  }
}
@media (max-width: 320px) {
  /* line 400, sass/styles.scss */
  body .nav-collapse {
    /*overflow: visible;
    height: auto;*/
  }
  /* line 403, sass/styles.scss */
  body .nav-collapse .nav > li {
    float: left;
  }
  /* line 407, sass/styles.scss */
  body .nav-collapse .nav > li a:hover,
  body .nav-collapse .nav > li a:focus {
    background-color: #FFFFFF;
  }
}
